.col-book{
  max-width: 500px;
  min-width: 100px;
}


@media only screen and (max-width: 600px) {

  .col-book, .col-image{
    padding: 0 !important;
  }
}

.book-cover{
  min-width: 80px !important;
  min-height: 120px !important;
  max-width: 160px !important;
  max-height: 240px !important;
}

.book-title{
  /* font-size: 1rem; */
  font-size: clamp(0.9rem, 2.5vw, 1.25rem);
  /* font-size: clamp(0.9rem, 2.5vw, 1.1rem); */
  font-weight: 550;
  /* text-align: center; */
  /* overflow: hidden; */
  /* max-width: 100%; */
  /* text-overflow: ellipsis; */
  /* width: fit-content; */
  /* white-space: nowrap; */
}

.book-author {
  /* font-size: clamp(0.75rem, 0.85rem, 1rem); */
  font-size: clamp(0.75rem, 0.9vw, 0.9rem);
  font-style: italic;
}

.offcanvas-bottom{
  height: 50% !important;
}

.detail-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detail-section ul li {
  display: flex;
  margin-bottom: 10px;
}

.detail-section ul li span {
  width: 50%;
  /* font-family: Nunito, serif; */
  font-weight: 500;
  /* font-size: 17px; */
  font-size: clamp(0.75rem, 1.5vw, 1rem); 
  color: #6d6d6d;
}

.book-cover-offcanvas, .btn-offcanvas{
  margin: auto !important;    
  display: block !important;
}

.bi-arrow-right-square-fill::before {
  content: "\f136";
  vertical-align: middle;
}

.detail-section h3 {
  /* font-family: Nunito, serif; */
  font-weight: 600;
  /* font-size: 18px; */
  font-size: clamp(1rem, 2vw, 1.35rem); 
  color: #151515;
  margin-bottom: 15px;
}