.col-book{
  max-width: 500px;
  min-width: 100px;
}


@media only screen and (max-width: 600px) {

  .col-book, .col-image{
    padding: 0 !important;
  }
}

.book-cover{
  min-width: 80px !important;
  min-height: 120px !important;
  max-width: 160px !important;
  max-height: 240px !important;
}

.book-title{
  /* font-size: 1rem; */
  font-size: clamp(0.9rem, 2.5vw, 1.25rem);
  /* font-size: clamp(0.9rem, 2.5vw, 1.1rem); */
  font-weight: 550;
  /* text-align: center; */
  /* overflow: hidden; */
  /* max-width: 100%; */
  /* text-overflow: ellipsis; */
  /* width: fit-content; */
  /* white-space: nowrap; */
}

.book-author {
  /* font-size: clamp(0.75rem, 0.85rem, 1rem); */
  font-size: clamp(0.75rem, 0.9vw, 0.9rem);
  font-style: italic;
}