.detail-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.detail-section ul li {
    display: flex;
    margin-bottom: 10px;
}

.detail-section ul li span {
    width: 50%;
    /* font-family: Nunito, serif;
    font-weight: 700;
    font-size: 12px; */
    color: #6d6d6d;
}

.detail-section h3 {
    /* font-family: Nunito, serif; */
    font-weight: 700;
    font-size: 18px;
    color: #151515;
    margin-bottom: 15px;
}

.o9hhOd, .I26one, .iXRFPc {
    display: inline-block;
}

.bp9Aid {
    color: rgb(95, 99, 104);
    margin-left: 10px;
}

.F7XJmb {
    height: 12px;
    width: 12px;
}

.Bp7T9b, .deXnLd, .F7XJmb {
    display: inline-block;
    text-align: left;
}

.fill {
    color: #0179ca;
    fill: #0179ca;
    stop-color: #0179ca;
}

.nofill {
    fill: #b8b8b8;
    stop-color: #b8b8b8;
}

.checked {
    color: #0179ca;
    fill: #0179ca;
    stop-color: #0179ca;
    font-size : 25px;
}
.unchecked {
    fill: #b8b8b8;
    stop-color: #b8b8b8;
    font-size : 25px;
}

.review-name{
    display: inline-block;
    margin-left: 10px;
}

.review-pp{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background-size: cover;
}

.modal-body{
    padding: 10px 30px !important;
}

.fs-title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

fieldset{
    background: white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px !important;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

input{
    font-size: 1rem !important;
    font-weight: 500;
}

.edit-form{
    --bs-form-select-bg-img: none;
    border: 0;
    font-size: 1rem !important;
    font-weight: 500;
    padding: 0 !important;
}

.add-button{
    color: white !important;
}

.add-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

textarea.form-control{
    min-height: 150px !important;
}

.star {
    content: "\f55b";
    color: #007bff;
}

.heart {
    content: "\f3f5";
    color: #dc3545;
}

.bi-book-fill::before {
    content: "\f192";
    color: #17a2b8;
}


@media (min-width: 320px) {
    .row-title{
        width: 100%;
    }
}

@media (min-width: 548px) {
    .row-title{
        width: 80%;
    }
}

@media (min-width: 768px) {
    .row-title{
        width: 90%;
    }
}

@media (min-width: 992px) {
    .row-title{
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .row-title{
        width: 70%;
    }
}
