.bi{
    display: flex;
    justify-content: center;
}

.bi-book-fill::before {
    content: "\f192";
    color: #138496 !important;
}

.bi-hourglass-split::before {
    content: "\f3ff";
    color: #007bff !important;
}

.bi-star-fill::before {
    content: "\f55b";
    color: #dc3545 !important;
}

.header-total{
    background-color: #138496 !important;
}

.header-current{
    background-color: #007bff !important;
}

.header-favorite{
    background-color: #dc3545 !important;
}

.card{
    min-width: 190px !important;
}

.card-title {
    margin: 0.75rem 0.75rem 0.75rem 1rem;
}

.col-md-4 {
    min-width: 200px;
}