.col-book{
    max-width: 500px;
    min-width: 100px;
  }
  
  .book-cover{
    min-width: 100px;
    min-height: 150px;
    max-width: 160px;
    max-height: 240px;
    /* width: 100%; */
    height: auto;
  }
  
  .book-title{
    /* font-size: 1rem; */
    /* font-size: clamp(0.85rem, 1rem, 1.25rem); */
    font-size: clamp(0.9rem, 2.5vw, 1.2rem);
    font-weight: bold;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    width: fit-content;
    white-space: nowrap;
  }
  
  .book-author {
    /* font-size: clamp(0.75rem, 0.85rem, 1rem); */
    font-size: clamp(0.75rem, 0.9vw, 0.9rem);
    font-style: italic;
  }